@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  --purple: #9463cf;
  --light-purple: #d7c2f3;
  --dark: #2c2541;
  --dark-white: #f5f5f5;
  --black: #070707;
  --first-font: "IBM Plex Mono", sans-serif;
  --second-font: "Play", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--dark);
}

.header_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--first-font);
  margin-top: 50px;
}

h1 {
  font-weight: 300;
  font-size: 28px;
  color: var(--dark-white);
}

.header_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header_links a {
  text-decoration: none;
  font-size: 19px;
  color: var(--purple);
}

.main_wish {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  letter-spacing: 5px;
}

.main_wish h2 {
  color: var(--dark-white);
  font-family: var(--second-font);
}

.main_wish a {
  text-decoration: none;
  color: var(--purple);
}

.main_wish img {
  margin-top: 20px;
  max-width: 90%;
  height: auto;
  border: 5px solid var(--light-purple);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

.main_wish img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.advantages {
  color: var(--dark-white);
  margin-top: 25px;
  font-size: 18px;
  font-family: var(--first-font);
}

li::first-letter {
  font-family: var(--second-font);
  color: var(--purple);
}

.about_me {
  margin-top: 50px;
  margin-left: 5px;
}

.about_me h2 {
  font-size: 22px;
  font-family: var(--first-font);
  color: var(--light-purple);
}

.about_me p {
  font-size: 18px;
  color: var(--dark-white);
  margin-top: 25px;
  width: 1000px;
  font-family: var(--second-font);
}

footer {
  color: var(--dark-white);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Адаптація для планшетів */
@media (max-width: 1024px) {
  .about_me p {
    width: 90%; /* Зменшення ширини тексту */
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 24px;
  }

  footer {
    font-size: 20px;
  }
}

/* Адаптація для телефонів */
@media (max-width: 768px) {
  .header_text {
    margin-top: 20px;
  }

  h1 {
    font-size: 20px;
    text-align: center;
  }

  .header_links {
    gap: 5px;
  }

  .header_links a {
    font-size: 16px;
  }

  .about_me h2 {
    font-size: 20px;
  }

  .about_me p {
    font-size: 16px;
  }

  .advantages {
    font-size: 16px;
  }

  footer {
    font-size: 18px;
  }

  .main_wish img {
    border-width: 3px;
  }
}